<!DOCTYPE html>
<html>
  <head><link rel="stylesheet" href="addquestion.css"></head>
<body>
<h1>Add Questions Here</h1>
<form id="form" method="POST" action="/addquestion">
<input type="text" name="question" id="first" placeholder="write your question"><br>
<input type="text" name="option1" id="first" placeholder="option1"><br>
<input type="text" name="option2" id="first" placeholder="option2"><br>
<input type="text" name="option3" id="first" placeholder="option3"><br>
<input type="text" name="option4" id="first" placeholder="option4"><br>
<input type="text" name="answer" id="first" placeholder="your answer"><br>
<button id="button">Submit Question</button>
</form>

<form method="GET" action="/getallquestions" id="form">
  <button id="button">See All Questions</button> 
</form>

 

</body>
</html>