<!DOCTYPE html>
<html>
  <head><link rel="stylesheet" href="loginform.css"></head>
<body>
<h1>Admin Login Here</h1>
<form method='POST' action='/checkadmin' id="form">
  <input type="text" name="email" placeholder="email" id="email"><br>
  <input type="password" name="password" placeholder="password" id="password"> <br>
  <button value="submit" name="button" id="button">submit</button> 
</form> 

</body>
</html>