<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="registerform.css">
  </head>
<body>
<h1>register here</h1>
<form method='POST' action='/addname' id="form">
  <input type="text" name="name" placeholder="name" id="name"><br>
  <input type="text" name="email" placeholder="email" id="email"><br>
  <input type="text" name="number" placeholder="number" id="phone"> <br>
  <input type="text" name="city" placeholder="city" id="city"><br>
  <input type="password" name="password" placeholder="password" id="password"> <br>
  <button value="submit" name="button" id="button">submit</button>
</form>

<form method="GET" action="/login" id="form">
<button id="button">go to login</button>
</form>
<form method="GET" action="/admin" id="form">
    <button id="button">Only for admin</button>
</form>

<div id="music">
    <audio controls autoplay loop>
        <source src="gana.mp3">
    </audio> 
</div>

</body>
</html>