<!DOCTYPE html>
<html>
  <head><link rel="stylesheet" href="loginform.css"></head>
  <style>
      #score{
          text-align: center;
          color:white;
          font-size: 40px;
      }
  </style>
<body>
<h1>Your Total Score</h1>
<h1 id="score"><%=count%></h2>

</body>
</html>